# geoDB Access

The geoDB is a service provided by the [Euro Data Cube project](https://eurodatacube.com) (EDC) as a payed service. It comes
with a Python client that provides hugh level acess to your data and a certain amount of space in a PostGreSQL database. For managing (as sharing is) 
your data you will need a management (read/write) account to your database which you can purchase at the [EDC market place](https://hub.eox.at).

You can access the service in two ways:

- By using the Jupyter Python notebook provided by EOX (configuartion free, ```geodb = GeoDBClient()```)
- By using you own Jupyter notebook or Python script by providing a client id and secret to the GeoDBClient (```geodb = GeoDBClient(client_id="myid", client_secret="mysecet")```)

The client ID and secret is also provided by EOX in the latter case. You will find them in your EOX hub account section. You can also provide the credentials
via system environment varibles (GEODB_AUTH_CLIENT_ID and GEODB_AUTH_CLIENT_SECRET). These variables can be supplied via a .env file. 

There are two different types of geoDB accounts: a read only and a management (read/write) access. The system will determine your access right through your 
authentication credentials.

## Sharing Data

In [1]:
from xcube_geodb.core.geodb import GeoDBClient

In [2]:
geodb = GeoDBClient()
geodb.whoami

'geodb_admin'

### Publish Dataset to the world

In [7]:
geodb.list_grants()

        table_name grantee
0  public_land_use  PUBLIC

In [6]:
geodb.publish_collection("land_use")

Access granted on land_use to public

In [8]:
geodb.list_grants()

        table_name grantee
0  public_land_use  PUBLIC

In [9]:
geodb.get_collection('land_use', database='public')

,id,created_at,modified_at,geometry,raba_pid,raba_id,d_od,testä_prop
0,1,2020-01-31T11:08:35.241344+00:00,None,"POLYGON ((453952.629 91124.177, 453952.696 911...",4770326,1410,2019-03-26,None
1,19655,2020-05-08T06:51:17.034744+00:00,None,"POLYGON ((453952.629 91124.177, 453952.696 911...",4770326,1410,2019-03-26,None
2,4,2020-01-31T11:08:35.241344+00:00,None,"POLYGON ((455929.405 97963.785, 455933.284 979...",2305596,1100,2019-02-25,None
3,5,2020-01-31T11:08:35.241344+00:00,None,"POLYGON ((461561.512 96119.256, 461632.114 960...",2310160,1100,2019-03-11,None
4,6,2020-01-31T11:08:35.241344+00:00,None,"POLYGON ((458139.092 95583.227, 458136.249 955...",3602865,1500,2019-01-05,None
...,...,...,...,...,...,...,...,...
37767,39246,2020-05-11T11:18:16.044507+00:00,2020-05-11T11:18:26.342697+00:00,"POLYGON ((458304.555 100146.103, 458306.726 10...",6268058,1300,2000-01-01,None
37768,39247,2020-05-11T11:18:16.044507+00:00,2020-05-11T11:18:26.342697+00:00,"POLYGON ((458247.583 99746.065, 458245.202 997...",6268059,1300,2000-01-01,None
37769,39248,2020-05-11T11:18:16.044507+00:00,2020-05-11T11:18:26.342697+00:00,"POLYGON ((461932.283 90520.703, 461931.619 905...",6263561,1300,2000-01-01,None
37770,39279,2020-05-11T11:18:16.044507+00:00,2020-05-11T11:18:26.342697+00:00,"POLYGON ((457231.170 90902.256, 457234.861 909...",6264862,1300,2000-01-01,None
37771,39280,2020-05-11T11:18:16.044507+00:00,2020-05-11T11:18:26.342697+00:00,"POLYGON ((461378.845 91124.318, 461490.224 911...",6264865,1300,2000-01-01,None

### Revoke access

In [10]:
geodb.list_grants()

        table_name grantee
0  public_land_use  PUBLIC

In [11]:
geodb.unpublish_collection("land_use")

Access revoked for land_use from public

In [12]:
geodb.list_grants()

Empty DataFrame
Columns: [table_name]
Index: []

In [ ]:
gdf = geodb.get_collection_by_bbox(collection="land_use", bbox=(452750.0, 88909.549, 464000.0, 102486.299),
                comparison_mode="contains", bbox_crs=3794, limit=2, offset=10, database='public')
gdf